universal containers/src/flows/Candidate-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CreationLogic</name>
        <label>CreationLogic</label>
        <locationX>773</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>exception</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Page</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_page</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <label>Candidate</label>
    <recordCreates>
        <name>new_Candidate</name>
        <label>new Candidate</label>
        <locationX>578</locationX>
        <locationY>190</locationY>
        <assignRecordIdToReference>RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>CreationLogic</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_name</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <screens>
        <name>Candidate</name>
        <label>Candidate</label>
        <locationX>354</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Candidate_Address</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_name</name>
            <dataType>String</dataType>
            <fieldText>Last name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Candidate_Address</name>
        <label>Candidate Address</label>
        <locationX>352</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>new_Candidate</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Error_page</name>
        <label>Error page</label>
        <locationX>800</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>The record for {!First_Name}  was not inserted</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_Page</name>
        <label>Success Page</label>
        <locationX>573</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>The Candidate with {!First_Name}{!Last_name} Name is successfully added.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Candidate</startElementReference>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
